<h1>Burgers!</h1>

<ul>
    {{#each burgers}}
        <li>{{this.burger_name}}</li>
        <button burgerId="{{this.id}}" class="updateBurger">Devour!</button>
    {{/each}}
</ul>


<form id="createBurger">
    <input type="text" name="burgerName">
    <button type="submit">Add Burger</button>
</form>


<script type="text/javascript">
    // Creating a new burger
    $("#createBurger").on("submit", (e) => {
        e.preventDefault();

        let newBurger = {
            burgerName: $("#createBurger [name=burgerName]").val().trim()
        };

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(() => {
            console.log("Created new burger!");
            location.reload();
        });
    });

    // Updating a burger in the list and changing its devoured column from false to true
</script>