<h1>Burgers!</h1>

<ul>
    {{#each burgers}}
        <li>{{this.burger_name}}</li>
        <button burgerId="{{this.id}}" class="updateBurger">Devour!</button>
    {{/each}}
</ul>


<form id="createBurger">
    <input type="text" name="burgerName">
    <button type="submit">Add Burger</button>
</form>


