<h1>Burgers!</h1>

<ul>
    {{#each burgers}}
        <li>{{burger_name}}</li>
        <button class="updateBurger" type="submit" burger-id="{{id}}">Devour!</button>
    {{/each}}
</ul>


<form id="createBurger">
    <input type="text" name="burgerName">
    <button type="submit">Add Burger</button>
</form>


