<h1>Burgers!</h1>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>{{burger_name}}</li>
            <button class="updateBurger" type="submit" burger-id="{{id}}">Devour!</button>
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>{{burger_name}}</li>
            <button class="updateBurger" type="submit" burger-id="{{id}}">Devour!</button>
        {{/if}}
    {{/each}}
</ul>


<form id="createBurger">
    <input type="text" name="burgerName">
    <button type="submit">Add Burger</button>
</form>


